@import '../../variables.scss';

h2{
  position: fixed; 
}

ul {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  justify-content: space-evenly;
  li {
    list-style-type: none;
    a {
      color: unset;
    }
  }

}
.mainImage{
  width:50vw;
}
.ReactModal__Content{
  background: white!important;
}