.gallery {
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.3);
  
  .item {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: row;
    overflow:hidden;
    .description {
      position: absolute;
      overflow:hidden;
      left: 0;
      right: 0;
      bottom: -100%;
      background: rgba(0,0,0,0.5);
      color: #fff;
      padding: 15px;
      font-size: 14px;
      transition: bottom 0.5s;
    }
    &:hover {
      .description {
        bottom: 0;
      }
    }
  }
  .thumbs {
    display: flex;
    flex-direction: row;
    padding: 0 4px;
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100% - 8px);
    .thumb {
      position: relative;
      flex: 0 0 calc(25% - 8px);
      &::after{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(0,0,0,0.3);
        border-radius: 8px;
      }
      &:hover, &.active {
        &::after {
          background: none;
        }
      }
      margin: 8px 4px;
      border-radius: 8px;
      cursor: pointer;
      .image {
        border-radius: 8px;
      }
    }
  }
}
.image {
  object-fit: cover;
  width: 100%;
  height: 100%; 
}
@media (max-width: 524px) {
  .gallery {
    .thumbs {
      .thumb {
        flex: 0 0 calc(50% - 8px);
      }
    }
  }
}