.offers{
    //border: 1px solid black;
    width: 70vw;
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vh 1vw;
    img{
    max-width: 50%;
    max-height: 70%;
    }

}