.room {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
}
.room__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #fff;
  color: #177e89;
  &:hover {
    background: #e2eff0;
  }
  > * {
    display: flex;
    padding: 10px 15px;
  }
  
}
.room__content {
  background: rgba(255,255,255,0.7);
}
.room__persons {
  display: flex;
  justify-content: center;
  min-width: 120px;
  background: rgba(23, 126, 137, 0.5);
  color: #fff;
}
.room__type {
  min-width: 150px;
}
.btn {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 0;
}
.btn--primary {
  background: #8A2D1E;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  &:hover {
    background: #D64F3A;
    color: #fff;
  }
}
.room__actions {
  margin: 0 0 0 auto;
  padding: 0;
}
