@import "./variables.scss";
@import "./fonts.scss";
.App {
  text-align: center;
  position: relative;
  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url("./assets/beach.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
  }
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 100px;
}
.App-menu {
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 5vh 5vw;
}
.App-menu__item {
  list-style-type: none;
  font-size: 20px;
  padding: 15px;
  a {
    transition: $transition;
    font-weight: 200;
    &:hover,
    &.active {
      color: $MetalicSeaweed;
    }
  }
}
.homepage {
  display: flex;
  flex-direction: column;
  .go {
    width: 10vw;
    height: 7vh;
    background: transparent;
    color: white;
    border: 1px solid white;
    transition: $transition;
    font-size: 1.2em;
    font-weight: 900;
    &:hover {
      background: white;
      color: $MetalicSeaweed;
    }
  }
}
.pageTitle {
  font-weight: 400;
  font-size: 5em;
  color: $MaximumYellowRed;
  color: white;
  font-family: "Aquafina";
  padding: 20vh 20vw;
}
/* ----ADMIN PANEL--- */
.Admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__back{
    margin-top: 5px!important;
  }
  &__bookingTable {
    width: 90vw !important;
  }
}
.ReactModal__Overlay--after-open {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Admin__Component {
  display: flex;
  justify-content: center;
  &Modal {
    width: 50vw;
    height: 50vh;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      > div {
        width: 50%;
      }
      button[type="submit"] {
        margin-top: 15px;
      }
    }
  }
}

/* ----CONTACT PANEL--- */
.Contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 100px);
  &__contactForm {
    width: 50vw;
    > div {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
    }

    //wyśrodkować
  }
}
/* ----REGISTRATION PANEL--- */
.Registration {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div {
    width: 50vw;
  }
  button[type="submit"] {
    margin-top: 15px;
  }
}
