.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-menu {
    display: flex;
    flex-direction: row;
}
.App-menu__item {
    list-style-type: none;
    font-size: 20px;
    padding: 15px;
    color: #fff;
}
.App-menu__item a:visited, a:active, a:link {
    color: inherit;
    text-decoration: none;
}
.theme-bg {
    background: #282c34;
    color: #fff;
}
.MuiContainer-root {
    padding: 50px 25px;
}
.MuiFormControl-root {
    margin: 5px !important;
    padding: 5px !important;
}
.title {
    text-transform: uppercase;
}
.bolder {
    font-weight: 700;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
