@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Aquafina";
  src: url("./aguafina-script/AguafinaScript-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
}

button {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  text-align: center;
  position: relative;
}
.App .background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("./assets/beach.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.App-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 100px;
}

.App-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  padding: 5vh 5vw;
}

.App-menu__item {
  list-style-type: none;
  font-size: 20px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.App-menu__item a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 200;
}
.App-menu__item a:hover, .App-menu__item a.active {
  color: #177e89;
}

.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.homepage .go {
  width: 10vw;
  height: 7vh;
  background: transparent;
  color: white;
  border: 1px solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.2em;
  font-weight: 900;
}
.homepage .go:hover {
  background: white;
  color: #177e89;
}

.pageTitle {
  font-weight: 400;
  font-size: 5em;
  color: white;
  font-family: "Aquafina";
  padding: 20vh 20vw;
}

/* ----ADMIN PANEL--- */
.Admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Admin__back {
  margin-top: 5px !important;
}
.Admin__bookingTable {
  width: 90vw !important;
}

.ReactModal__Overlay--after-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Admin__Component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Admin__ComponentModal {
  width: 50vw;
  height: 50vh;
}
.Admin__ComponentModal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.Admin__ComponentModal form > div {
  width: 50%;
}
.Admin__ComponentModal form button[type=submit] {
  margin-top: 15px;
}

/* ----CONTACT PANEL--- */
.Contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 100px);
}
.Contact__contactForm {
  width: 50vw;
}
.Contact__contactForm > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
}

.ligthTitle {
  font-weight: 100;
  font-size: 2em;
  color: white;
  font-family: "Aquafina";
}

.titleHeader {
  padding: 15px 15px 0;
}

.bgMain {
  background: #177e89;
}

.bgMainDark {
  background: #084c61;
}

.bgLight {
  background: #fff;
}

.colorMain {
  color: #177e89;
}

.colorMainDark {
  color: #084c61;
}

.colorLight {
  color: #fff;
}

.box {
  padding: 15px;
  margin: 0;
}

.fade80 {
  background: rgba(255, 255, 255, 0.8);
}

/* ----REGISTRATION/LOGIN PANEL--- */
.Registration, .Login {
  height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Registration div, .Login div {
  width: 50vw;
}
.Registration button[type=submit], .Login button[type=submit] {
  margin-top: 15px;
}/*# sourceMappingURL=App.css.map */